@charset "UTF-8";

#education{
	display: none;
}

#box_education .form-control{
	margin-bottom: 20px !important;
	background-color: transparent !important;
}

.label-edu{
	margin-left: 10px;
}
.point{
	color: red;
}

#box_eduBtn{
	text-align: right;
	margin-top: 20px;
	margin-right: 25px;
}
#box_addEducation{
	display: none;
	margin: 30px 10px 10px 10px;
	padding: 30px;
	border: 1px solid #a29f9f !important;
}

#box_addEducation h4{
	margin-top: 20px;
	margin-left: 20px;	
}

#box_addEducation .form-control{
	margin-bottom: 20px !important;
}

#btn_addSchool{
 margin-right: 30px;	
}

#school_name{
	background-color: transparent;	
}

#degree_level{
	background-color: transparent;	
}

#box_addEduBtn{
	text-align: right;
	margin-top: 20px;
	margin-right: 25px;
}
.modal-footer{
	text-align: center;
}

#data_avg_score{
	display: inline !important;
	width: 40% !important;
	margin-right: 20px;
}

#data_total_score{
	display: inline !important; 
	width: 40% !important;
	margin-left: 20px;
}

#avg_score{
	display: inline !important;
	width: 40% !important;
	margin-right: 20px;
}
#total_score{
	display: inline !important; 
	width: 40% !important;
	margin-left: 20px;
}