<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CsBoardMapper">

	<select id="scPrevfb_num" parameterType="HashMap" resultType="int">
			<![CDATA[
				SELECT IFNULL(MAX(cs_num), -1) FROM csBoard WHERE ${condition} LIKE '%' #{search} '%' and cs_num < #{cs_num};
			]]>
		</select>
		
		<select id="scNextfb_num" parameterType="HashMap" resultType="int">
			<![CDATA[
				SELECT IFNULL(MIN(cs_num), -1) FROM csBoard WHERE ${condition} LIKE '%' #{search} '%' and cs_num > #{cs_num};
			]]>
		</select>
		
		<select id="scBoardList" parameterType="HashMap" resultType="CsBoardVO">
			SELECT * 
			FROM (
				SELECT * 
				FROM csBoard
				WHERE ${condition} LIKE '%' #{search} '%'
				LIMIT #{offset}, #{limit}
			) A ORDER BY cs_num DESC
		</select>
		
		<select id="scCountBoards" parameterType="HashMap" resultType="int">
			SELECT COUNT(*) FROM csBoard WHERE ${condition} LIKE '%' #{search} '%'
		</select>
		
		<select id="prevfb_num" parameterType="int" resultType="int">
			<![CDATA[
				SELECT IFNULL(MAX(cs_num), -1) FROM csBoard WHERE cs_num < #{cs_num};
			]]>
		</select>
		<select id="nextfb_num" parameterType="int" resultType="int">
			<![CDATA[
				SELECT IFNULL(MIN(cs_num), -1) FROM csBoard WHERE cs_num > #{cs_num};
			]]>
		</select>
	
		<select id="boardList" parameterType="HashMap" resultType="CsBoardVO">
			SELECT * 
			FROM (
				SELECT * 
				FROM csBoard
				LIMIT #{offset}, #{limit}
			) A ORDER BY cs_num DESC
		</select>
		
		<select id="countBoards" resultType="int">
			SELECT COUNT(*) FROM csBoard
		</select>
		
		<select id="viewBoard" parameterType="int" resultType="CsBoardVO">
			SELECT * FROM csBoard WHERE cs_num = #{cs_num}
		</select>
		
		<select id="findBoard" parameterType="CsBoardVO" resultType="int">
			SELECT IFNULL(max(cs_num),0) FROM csBoard WHERE title = #{title} AND content = #{content} AND id = #{id}
		</select>
	
		<insert id="insertCsBoard" parameterType="CsBoardVO">
			INSERT INTO csBoard (cs_num, grpno, grpord, dept, title, content, regDate, makePublic, pw, hit, id)
			VALUES((SELECT IFNULL(max(cs.cs_num),0)+1 FROM csBoard cs), #{grpno}, #{grpord}, #{dept}, 
					#{title}, #{content}, #{regDate}, #{makePublic}, #{pw}, #{hit}, #{id})
		</insert>
		
		<update id="modifycsBoard" parameterType="CsBoardVO">
			UPDATE csBoard SET title = #{title} WHERE cs_num = #{cs_num};
			UPDATE csBoard SET content = #{content} WHERE cs_num = #{cs_num};
		</update>
		
		<update id="countUp" parameterType="int">
			UPDATE csBoard SET hit = hit + 1 WHERE cs_num = #{cs_num}
		</update>
	
		<delete id="deletecsBoard">
			DELETE FROM csBoard WHERE cs_num = #{cs_num}
		</delete>

</mapper>