<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileMapper">
	<select id="findFileGroup" parameterType="String" resultType="int">
		SELECT IFNULL(max(fileGroupNum), 0) FROM fileGroup WHERE flag = #{flag}
	</select>

	<insert id="insertFileGroup">
		INSERT INTO fileGroup (fileGroupNum, flag)
		VALUES((SELECT IFNULL(max(f.fileGroupNum),0)+1 FROM files f), #{flag})
	</insert>
	
	<update id="insert_CB_files" parameterType="FileGroupVO">
		UPDATE fileGroup SET cb_num = #{cb_num} WHERE fileGroupNum = #{fileGroupNum}
	</update>

	<update id="insert_FB_files" parameterType="FileGroupVO">
		UPDATE fileGroup SET fb_num = #{fb_num} WHERE fileGroupNum = #{fileGroupNum}
	</update>
	
	<update id="insertBoard" parameterType="String">
		UPDATE fileGroup SET flag = '-1' WHERE flag = #{flag}
	</update>
	
	<delete id="delete_CB_Files">
		DELETE FROM fileGroup WHERE cb_num = #{cb_num}
	</delete>

	<delete id="delete_FB_Files">
		DELETE FROM fileGroup WHERE fb_num = #{fb_num}
	</delete>
	
	<delete id="deleteFileGroup">
		DELETE FROM fileGroup WHERE fileGroupNum = #{fileGroupNum}
	</delete> 
	
	<select id="findFile" parameterType="FilesVO" resultType="int">
		SELECT IFNULL(max(file_num),0) from files WHERE fileName = #{fileName} and fileHash = #{fileHash} and fileGroupNum = #{fileGroupNum}
	</select>
	
	<insert id="insertFile" parameterType="FilesVO">
		INSERT INTO files (fileGroupNum, file_num, filePath, fileName, fileSize, fileHash, regDate) 
		VALUES(#{fileGroupNum}, (SELECT IFNULL(max(f.file_num),0)+1 FROM files f), #{filePath}, #{fileName}, #{fileSize}, #{fileHash}, #{regDate})
	</insert>
	
	<delete id="deleteFile">
		DELETE FROM files WHERE fileGroupNum = #{fileGroupNum}
	</delete>
</mapper>