<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="MailMapper">
	<select id="Mail_Info" resultType="MailVO">
		SELECT m_num,from_addr,fromname,smtp_username,smtp_userpassword,host,port 
		FROM mail;
	</select>
</mapper>	