<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.ProfileMapper">
	<insert id="addProfileCareer" parameterType="FreeBoardVO">
		INSERT INTO  (fb_num, title, content, regDate, hit, id)
		VALUES((SELECT IFNULL(max(f.fb_num),0)+1 FROM freeBoard f), #{title}, #{content}, #{regDate}, #{hit}, #{id})
	</insert>
</mapper>