<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<select id="selectUser" resultType="UserVO">
		SELECT id, pw, name, phone, birthday, type
		FROM users
	</select>
	
	<delete id="deleteUser">
		DELETE FROM users
		WHERE id = #{id}
	</delete>
	
	<update id="">
		UPDATE FROM users
		SET pw = #{pw},
			name = #{name},
			phone = #{phone},
			birthday = #{birthday},
			type = #{type}
		WHERE id = #{id}
	</update>
	
	<insert id="addUser">
		INSERT INTO users(id, pw, name, phone, birthday, type)
		VALUES(#{id}, #{pw}, #{name}, #{phone}, #{birthday}, #{type})
	</insert>
	
	<select id="login" parameterType="UserVO" resultType="UserVO">
		SELECT id, name, phone, birthday, type
		FROM USERS
		WHERE id = #{id}
	</select>
</mapper>
